<!-- Generated template for the FooterComponent component -->
  <ion-grid class="social-media">
    <ion-row>
      <ion-col col-6><ion-icon ios="logo-facebook" md="logo-facebook" class="logo-facebook" (click)="openSocialMedia('https://www.facebook.com/affinityccg')"></ion-icon></ion-col>
      <ion-col col-6><ion-icon ios="logo-twitter" md="logo-twitter" class="logo-twitter" (click)="openSocialMedia('https://twitter.com/affinityccg')"></ion-icon></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6><ion-icon ios="logo-instagram" md="logo-instagram" class="logo-instagram" (click)="openSocialMedia('https://www.instagram.com/affinityccg/')"></ion-icon></ion-col>
      <ion-col col-6><ion-icon ios="logo-rss" md="logo-rss" class="logo-rss" (click)="openSocialMedia('http://affinityccg.wpengine.com/feed/')"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
